[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
